.message {
  text-align: left;
  /* border: 1px solid black; */
  color: #949191;
  font-size: 0.9em;
  margin-top: -40px;
  margin-bottom: 25px;
}

p {
  margin-bottom: 0px;
  margin-left: 40px;

}

li>ul {
  list-style-type: square;
}

div>ul {
  margin-bottom: 0px;
  margin-left: 60px;
}

